<form [formGroup]="dataForm" ng-submit="onSubmit()">
    id: <input type="number" formControlName="Id" placeholder="id" /><br>
    uniqueId: <input type=" text" placeholder="Unique Id" formControlName="uniqueId" /><br>
    sku: <input type=" text" placeholder="Sku" formControlName="sku" /><br>
    name: <input type=" text" placeholder="Nanme" formControlName="name" /><br>
    description: <input type=" text" placeholder="Description" formControlName="description" /><br>
    imageUrl: <input type=" text" placeholder="Image Url" formControlName="imageUrl" /><br>
    contentUrl: <input type=" text" placeholder="Content Url" formControlName="contentUrl" /><br>
    price: <input type="number" formControlName="Price" placeholder="Price" /><br>
    status: <input type=" text" placeholder="Status" formControlName="status" /><br>
    enabled: <input type=" text" placeholder="Enabled" formControlName="enabled" /><br>
    openPrice: <input type="boolean" placeholder="Open Price" formControlName="openPrice" /><br>
    openStock: <input type="boolean" placeholder="Open Stock" formControlName="openStock" /><br>
    payload: <input type=" text" placeholder="Payload" formControlName="payload" /><br>
    qcode: <input type=" text" placeholder="Qcode" formControlName="qcode" />   <br>
    <button type="submit" class="submit">Submit</button>
</form>