<form [formGroup]="dataForm" ng-submit="onSubmit()">
    id: <input disabled type="number" formControlName="id" placeholder="id" /><br>
    Unique Id: <input type=" text" placeholder="Unique Id" formControlName="uniqueId" /><br>
    Sku: <input disabled type=" text" placeholder="Sku" formControlName="sku" /><br>
    Name: <input type=" text" placeholder="Name" formControlName="name" /><br>
    Description: <input type=" text" placeholder="Description" formControlName="description" /><br>
    Image Url: <input type=" text" placeholder="Image Url" formControlName="imageUrl" /><br>
    Content Url: <input type=" text" placeholder="Content Url" formControlName="contentUrl" /><br>
    Price: <input disabled type="number" formControlName="Price" placeholder="Price" /><br>
    Status: <input type=" text" placeholder="Status" formControlName="status" /><br>
    Enabled: <input type=" text" placeholder="Enabled" formControlName="enabled" /><br>
    Open Price: <input type="boolean" placeholder="Open Price" formControlName="openPrice" /><br>
    Open Stock: <input type="boolean" placeholder="Open Stock" formControlName="openStock" /><br>
    Payload: <input type=" text" placeholder="Payload" formControlName="payload" /><br>
    Qcode: <input type=" text" placeholder="Qcode" formControlName="qcode" />   <br>
    <button type="submit" class="submit">Submit</button>
</form>