<!--<kt-portle>
    <kt-portlet-header title="Products"> </kt-portlet-header>
    <kt-portlet-body>-->
        <form [formGroup]="dataForm">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Unique Id</mat-label>
                    <input matInput type="text" placeholder="Unique Id" formControlName="unique_id">
                    <mat-error>Unique Id is required</mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" placeholder="Name" formControlName="name">
                    <mat-error>Name is required</mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Threshold</mat-label>
                    <input matInput type="number" placeholder="Threshold" formControlName="threshold">
                    <mat-error>Threshold is required</mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Extra Points</mat-label>
                    <input matInput type="number" placeholder="Extra Points" formControlName="extra_points">
                    <mat-error>Extra Points is required</mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <!--  <button (click)="submit()"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Submit</button>
                    -->
            </div>
        </form>
        <!-- </kt-portlet-body>
                     <kt-portlet-footer> (footer info) </kt-portlet-footer>
                 </kt-portle>-->