<!--<kt-portle>
    <kt-portlet-header title="Products"> </kt-portlet-header>
    <kt-portlet-body>-->
        <form [formGroup]="dataForm">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>vhost</mat-label>
                    <input matInput type="text" placeholder="vhost" formControlName="vhost">
                    <mat-error>vhost is required</mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Host</mat-label>
                    <input matInput type="text" placeholder="Host" formControlName="host">
                    <mat-error>Host is required</mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" placeholder="Username" formControlName="user_name">
                    <mat-error>Username is required</mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Encrypted Password</mat-label>
                    <input matInput type="password" placeholder="Encrypted Password" formControlName="encrypted_password">
                    <mat-error>Encrypted Password is required</mat-error>
                    <mat-hint></mat-hint>
                </mat-form-field>
                <!--  <button (click)="submit()"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Submit</button>
                    -->
            </div>
        </form>
        <!-- </kt-portlet-body>
                     <kt-portlet-footer> (footer info) </kt-portlet-footer>
                 </kt-portle>-->