<form [formGroup]="dataForm" ng-submit="onSubmit()">
    id: <input type="number" formControlName="Id" placeholder="id" /><br>
    uniqueId: <input type=" text" placeholder="Unique Id" formControlName="uniqueId" /><br>
    code: <input type=" text" placeholder="Code" formControlName="code" /><br>
    name: <input type=" text" placeholder="Nanme" formControlName="name" /><br>
    description: <input type=" text" placeholder="Description" formControlName="description" /><br>
    imageUrl: <input type=" text" placeholder="Image Url" formControlName="imageUrl" /><br>
    parentId: <input type=" text" placeholder="Parent Id" formControlName="parentId" /><br>
    displayOrder: <input type="number" formControlName="displayOrder" placeholder="Display Order" /><br>
    status: <input type=" text" placeholder="Status" formControlName="status" /><br>
    enabled: <input type=" text" placeholder="Enabled" formControlName="enabled" /><br>
    payload: <input type=" text" placeholder="Payload" formControlName="payload" /><br>
    contentUrl: <input type=" text" placeholder="Content Url" formControlName="contentUrl" />   <br>
    <button type="submit" class="submit">Submit</button>
</form>