<h3>Categories</h3>

<form [formGroup]="dataForm" ng-submit="onSubmit()">
    Id: <input disabled type="number" formControlName="id" placeholder="Id" /><br>
    UniqueId: <input disabled type=" text" placeholder="Unique Id" formControlName="uniqueId" /><br>
    Code: <input disabled type=" text" placeholder="Code" formControlName="code" /><br>
    Name: <input type=" text" placeholder="Nanme" formControlName="name" /><br>
    Description: <input type=" text" placeholder="Description" formControlName="description" /><br>
    Image Url: <input type=" text" placeholder="Image Url" formControlName="imageUrl" /><br>
    Parent Id: <input disabled type=" text" placeholder="Parent Id" formControlName="parentId" /><br>
    Display Order: <input type="number" formControlName="displayOrder" placeholder="Display Order" /><br>
    Status: <input disabled type=" text" placeholder="Status" formControlName="status" /><br>
    Enabled: <input type=" text" placeholder="Enabled" formControlName="enabled" /><br>
    Payload: <input type=" text" placeholder="Payload" formControlName="payload" /><br>
    Content Url: <input type=" text" placeholder="Content Url" formControlName="contentUrl" />   <br>
    <button type="submit" class="submit">Submit</button>
</form>