<form [formGroup]="dataForm" ng-submit="onSubmit()">
    User Unique Id: <input type=" text" placeholder="User Unique Id" formControlName="user_unique_id" /><br>
    Cart Notes: <input type=" text" placeholder="Cart Notes" formControlName="cartNotes" /><br>
    Sku: <input type=" text" placeholder="Sku" formControlName="sku" /><br>
    Product Notes: <input type=" text" placeholder="Product Notes" formControlName="productNotes" /><br>
    Quantity: <input type="number" formControlName="quantity" placeholder="Quantity" /><br>
    <button type="submit" class="submit">Submit</button>
</form>