<form [formGroup]="dataForm" ng-submit="onSubmit()">
    user_unique_id: <input disabled type=" text" placeholder="user_unique_id" formControlName="user_unique_id" /><br>
    Cart Notes: <input type=" text" placeholder="Cart Notes" formControlName="cartNotes" /><br>
    Sku: <input disabled type=" text" placeholder="Sku" formControlName="sku" /><br>
    Product Notes: <input type=" text" placeholder="Product Notes" formControlName="productNotes" /><br>
    Quantity: <input type="number" formControlName="quantity" placeholder="Quantity" /><br>
    <button type="submit" class="submit">Submit</button>
</form>