<!--<kt-portle>
    <kt-portlet-header title="Products"> </kt-portlet-header>
    <kt-portlet-body>-->
        <form [formGroup]="dataForm">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Slack Hook</mat-label>
                    <input matInput type="text" placeholder="Slack Hook" formControlName="slack_hook">
                    <mat-error>Slack Hook is required</mat-error>
                    <mat-hint>Customer Slack Hook. For Notifications</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Slack Channel</mat-label>
                    <input matInput type="text" placeholder="Slack Channel" formControlName="slack_channel">
                    <mat-error>Slack Channel is required</mat-error>
                    <mat-hint>Customer Slack Channel. For Notifications</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Slack Username</mat-label>
                    <input matInput type="email" placeholder="Slack Username" formControlName="slack_username">
                    <mat-error>Slack Username is required</mat-error>
                    <mat-hint>Customer Slack UserName. As display on the slack Notification. ie: Jarvis@23blocks</mat-hint>
                </mat-form-field>
                <!--  <button (click)="submit()"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Submit</button>
                    -->
            </div>
        </form>
        <!-- </kt-portlet-body>
                     <kt-portlet-footer> (footer info) </kt-portlet-footer>
                 </kt-portle>-->