<h3>Contact</h3>

<form [formGroup]="dataForm" ng-submit="onSubmit()">
    First Name: <input type=" text" placeholder="First Name" formControlName="first_name" /><br>
    Middle Name: <input type=" text" placeholder="Middle Name" formControlName="middle_name" /><br>
    Last Name: <input type=" text" placeholder="Last Name" formControlName="last_name" /><br>
    Primary Email: <input type=" text" placeholder="Primary Email" formControlName="primary_email" /><br>
    Primary Phone: <input type="number" placeholder="Primary Phone" formControlName="primary_phone" /><br>
    <button type="submit" class="submit">Submit</button>
</form>
