<!--<kt-portle>
    <kt-portlet-header title="Products"> </kt-portlet-header>
    <kt-portlet-body>-->
<form [formGroup]="dataForm">
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="First Name" formControlName="first_name">
            <mat-error>First Name is required </mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input matInput type="text" placeholder="Middle Name" formControlName="middle_name">
            <mat-error></mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Last Name" formControlName="last_name">
            <mat-error>Last Name is required </mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Primary Email</mat-label>
            <input matInput type="email" placeholder="Primary Email" formControlName="primary_email">
            <mat-error>Primary Email is required</mat-error>
            <mat-hint>example@email.com</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Primary Phone</mat-label>
            <input matInput type="tel" pattern="([0-9]{3}) [0-9]{3}-[0-9]{4}" placeholder="Primary Phone"
                formControlName="primary_phone">
            <mat-error>Invalid phone</mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
        <!--  <button (click)="submit()"
                                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Submit</button>
                        -->
    </div>
</form>
<!-- </kt-portlet-body>
                         <kt-portlet-footer> (footer info) </kt-portlet-footer>
                     </kt-portle>-->