<router-outlet></router-outlet><br>
<a class="btn" href="account">Account</a>&nbsp;
<a class="btn" href="contact">Contact</a>&nbsp;
<a class="btn" href="lead">Lead</a>&nbsp;
<a class="btn" href="products">Add Products</a>&nbsp;
<a class="btn" href="categories">Categories</a>&nbsp;
<a class="btn" href="cart">Add to Cart</a>&nbsp;
<a class="btn" href="geo">Geo</a>&nbsp;
<a class="btn" href="loc">Location</a>&nbsp;
<a class="btn" href="area">Area</a>&nbsp;
<a class="btn" href="lh">Location Hour</a>&nbsp;
<a class="btn" href="premise">Premise</a>&nbsp;