<!--<kt-portle>
    <kt-portlet-header title="Products"> </kt-portlet-header>
    <kt-portlet-body>-->
<form [formGroup]="dataForm">
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="First Name" formControlName="first_name">
            <mat-error>First Name is required </mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input matInput type="text" placeholder="Middle Name" formControlName="middle_name">
            <mat-error></mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Last Name" formControlName="last_name">
            <mat-error>Last Name is required </mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput type="tel" pattern="([0-9]{3}) [0-9]{3}-[0-9]{4}" placeholder="Phone Number"
                formControlName="phone_number">
            <mat-error>Phone Number Invalid</mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Lead Email</mat-label>
            <input matInput type="email" placeholder="Lead Email" formControlName="lead_email">
            <mat-error>Lead Email is required </mat-error>
            <mat-hint>example@email.com</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Web Site</mat-label>
            <input matInput type="url" placeholder="Web Site" formControlName="web_site">
            <mat-error></mat-error>
            <mat-hint>Do you have a web site?</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Twitter</mat-label>
            <input matInput type="url" placeholder="Twitter" formControlName="twitter">
            <mat-error></mat-error>
            <mat-hint>Do you have a Twitter account?</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Facebook</mat-label>
            <input matInput type="url" placeholder="Facebook" formControlName="fb">
            <mat-error></mat-error>
            <mat-hint>Do you have a Facebook account?</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Instagram</mat-label>
            <input matInput type="url" placeholder="Instagram" formControlName="instagram">
            <mat-error></mat-error>
            <mat-hint>Do you have an Instagram account?</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Linkedin</mat-label>
            <input matInput type="url" placeholder="Linkedin" formControlName="linkedin">
            <mat-error></mat-error>
            <mat-hint>Do you have a Linkedin account?</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Youtube</mat-label>
            <input matInput type="url" placeholder="Youtube" formControlName="youtube">
            <mat-error></mat-error>
            <mat-hint>Do you have a Youtube account?</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Blog</mat-label>
            <input matInput type="url" placeholder="Blog" formControlName="blog">
            <mat-error></mat-error>
            <mat-hint>Do you have a blog?</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Network A</mat-label>
            <input matInput type="text" placeholder="Network A" formControlName="network_a">
            <mat-error>Network A is required </mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Network B</mat-label>
            <input matInput type="text" placeholder="Network B" formControlName="network_b">
            <mat-error>Network B is required </mat-error>
            <mat-hint></mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Notes</mat-label>
            <input matInput type="text" placeholder="Notes" formControlName="notes">
            <mat-error></mat-error>
            <mat-hint>Any extra info?</mat-hint>
        </mat-form-field>
        <!--  <button (click)="submit()"
                                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Submit</button>
                        -->
    </div>
</form>
<!-- </kt-portlet-body>
                                         <kt-portlet-footer> (footer info) </kt-portlet-footer>
                                     </kt-portle>-->